# Dočasné archivy a rozbalené složky
*.zip
archive*/
/datasets/

# Temp soubory
*.tmp
*.log
.DS_Store
Thumbs.db

# Python cache
__pycache__/
*.pyc
.ipynb_checkpoints/

# Zadání a interní dokumenty (neodevzdávají se do repo)
/Email.md
/Samokontrola.md
/Zadani.md

# Dokumentace (není součástí repo - odevzdávána zvlášť)
*.pdf
*.docx
